a {
    display: block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: white;
    /* cursor: help; */
}

nav a {
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
}


/* unvisited link */

nav a:link,
a:link {
    color: #fff;
    background-color: #000;
}


/* visited link */

nav a:visited,
a:visited {
    color: #fff;
    background-color: #000;
}


/* mouse over link */

/* nav div.button:hover {
    color: #000;
    background-color: rgb(223, 71, 164);
}

nav div.button:hover a {
    color: #000;
    background-color: rgb(223, 71, 164);
} */

/* mouse over active link */

/* nav div.active:hover {
    color: #000;
    background-color: rgb(28, 255, 217);
}

nav div.active:hover a {
    color: #000;
    background-color: rgb(28, 255, 217);
} */


/* selected link */

nav a:active {
    color: #000;
    background-color: #fff;
}

nav div.active {
    color: #000;
    background-color: #fff;
}

nav div.active a {
    color: #000;
    background-color: #fff;
}

nav {
    list-style-type: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    z-index: 3;
}

div.button {
    background-color: #fff;
    text-align: center;
    height: 100%;
    flex: 1;
}

section.main {
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.version {
    color: white;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: auto;
    width: auto;
}